openapi: 3.0.0
info:
  title: Busha API
  contact:
    email: developers@busha.co
  description: |
    ## Introduction
    The **Busha API** is designed to provide businesses with tools for borderless financial transactions and operations, enabling modern, global money management. It serves as the backbone for facilitating:
    - Creation and management of multi-currency balances
    - Retrieval of real-time cryptocurrency rates
    - Substantial data insights for business owners

    Whether you’re a product-driven fintech or a developer building integrations, this API significantly accelerates implementation while reducing financial complexities.
    For detailed guides on API integration, visit our [official documentation]().


    ## Authentication
    All API requests require a **Bearer Token** for authentication, passed in the `Authorization` header.
    Your authorization value is a base64 encoded value of your api key and your secret key.
    You can obtain API tokens via your Busha user or business account. Authentication is mandatory to ensure secure and authorized interactions with the API.
    The API keys from the dashboard provides a base64 encoding of the your authorization tokens.

    Your generated Key should look like this:
    `VURtNXhWcHueantkpaiewjo0S044MWsadfojienuoxRTiWDJaeWJaTGxxanZ3Ym10OU1RZnVWajVW=`

    Example Header:
    ``` curl
    Authorization: Bearer VURtNXhWcHueantkpaiewjo0S044MWsadfojienuoxRTiWDJaeWJaTGxxanZ3Ym10OU1RZnVWajVW=
    ```

    ## Error Handling
    #Standardized error responses ensure predictable interactions. Errors are detailed for easy debugging and understanding:
    | **Error Code** | **HTTP Status Code** | **Description** |
    | --- | --- | --- |
    | `bad_request` | 400 | Invalid input or malformed request |
    | `unauthorized` | 401 | Invalid or missing authentication |
    | `not_found` | 404 | Resource not found |
    | `service_unavailable` | 503 | Server error |

    Basic Error Example:
    ``` json
    {
      "error": {
        "name": "bad_request",
        "message": "Invalid input data"
      }
    }
    ```

    Schema Error Body Example:
    ``` json
    {
      "error": {
        "name": "bad_request",
        "message": "Invalid input data"
      },
      "schema": {
        "reason": "The request body is defined as an object. However, it does not meet the schema requirements of the specification",
        "fix": "Ensure that the object being submitted, matches the schema correctly"
      }
    }
    ```

    Field Error Body Example:
    ``` json
    {
      "error": {
        "name": "bad_request",
        "message": "Invalid input data"
      },
      "fields": {
        "field1": [
          {
            "reason": "The request body is defined as an object. However, it does not meet the schema requirements of the specification",
          },
        ],
        "field2": [
          {
            "reason": "The request body is defined as an object. However, it does not meet the schema requirements of the specification",
          }
        ],
      }
    }
    ```

    ## Pagination
    Pagination uses cursors provided as:
    The API supports **cursor-based pagination** for endpoints with large datasets. Pagination uses a `next_cursor` and `previous_cursor` returned in the response.
    Example Response Format:
    ``` json
    {
      "current_entries_size": 10,
      "next_cursor": "base64_cursor_value",
      "previous_cursor": "base64_previous_cursor_value"
    }
    ```

    ## Rate Limiting
    Rate limits determine how many API calls can be made in a rolling minute. This ensures fair and optimized use of system resources.

    The rate limits allowed by each resource will be provided with the header:
    ```curl
    x-rate-limit 100
    ```
    If this header does not exist, then the rate limit is set at a default 100 req/min

    Requests exceeding the allocated quota will receive a `429 Too Many Requests` response.

    ##  Common Parameters
    Common parameters enhance consistency across endpoints:
      | **Parameter Name** | **Location** | **Description** | **Example** |
      | --- | --- | --- | --- |
      | `X-BU-PROFILE-ID` | Header | User profile identifier | `BUS_qwejinoiuiqw93ejjw` |
      | `id` | Path | Unique NanoID identifier | `dpt_jweqafajsndiun34fd` |
      | `cursor` | Query | Pagination cursor | `base64_cursor_string` |

    #### Paginated Response Example
      ``` json
      {
        "status": "success",
        "message": "Data retrieved",
        "pagination": {
          "next_cursor": "value_for_next_page",
          "current_entries_size": 20
        },
        "data": [...]
      }
      ```
  version: 1.0.0
servers:
  - url: https://api.sandbox.busha.so
    description: Sandbox Environment
  - url: https://api.busha.io
    description: Production Environment
tags:
  - name: Balances
    description: Handles account balances across different currencies
    x-displayName: Balances
  - name: Bills
    description: Lorem Ipsum
    x-displayName: Bills
  - name: Cards
    description: Lorem Ipsum
    x-displayName: Cards
  - name: Cashback
    description: Main tag for cashback service endpoints
    x-displayName: Cashback
  - name: Currencies
    description: |
      Endpoints to manage supported currencies, their properties, and network details.
    x-displayName: Currencies
  - name: Customers
    x-internal: false
    description: Handle customer requests and responses
    x-displayName: Customers
  - name: Miscellaneous
    description: Provides auxiliary APIs to complement and enhance other services.
    x-displayName: Miscellaneous
  - name: News
    x-displayName: News
  - name: Pairs
    description: Access trading pair information and rates
    x-displayName: Pairs
  - name: PaymentLinks
    description: Payment Links
    x-displayName: PaymentLinks
  - name: PaymentRequests
    description: Payment request
    x-displayName: PaymentRequests
  - name: Quotes
    description: Handle quotes requests and responses
    x-displayName: Quotes
  - name: Recipients
    x-displayName: Recipients
  - name: Transactions
    x-displayName: Transactions
  - name: Transfers
    x-displayName: Transfers
  - name: Vouchers
    x-internal: false
    description: Endpoints related to voucher purchase, providers, and countries
    x-displayName: Vouchers
paths:
  /v1/balances:
    post:
      x-rate-limit: 20
      security:
        - Auth:
            - balances:write
            - api:write
      tags:
        - Balances
      operationId: createBalance
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      summary: Create currency balance
      description: Creates a new balance for managing funds in a specific currency.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBalanceRequest'
      responses:
        '201':
          description: Balance created successfully
          content:
            application/json:
              schema:
                required:
                  - data
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Balance'
        4XX:
          $ref: '#/components/responses/BalanceError4XX'
        5XX:
          $ref: '#/components/responses/BalanceError5XX'
    get:
      tags:
        - Balances
      operationId: listBalances
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/Currency'
      summary: List all balances
      description: Retrieves all account balances with their current status.
      responses:
        '200':
          description: List of account balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceListResponse'
        4XX:
          $ref: '#/components/responses/BalanceError4XX'
        5XX:
          $ref: '#/components/responses/BalanceError5XX'
      security:
        - Auth:
            - balances:read
            - api:read
  /v1/balances/{id_or_code}:
    get:
      tags:
        - Balances
      operationId: getBalance
      summary: Get balance details
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - name: id_or_code
          in: path
          required: true
          schema:
            type: string
          description: Balance ID or currency code
      responses:
        '200':
          description: Balance details retrieved successfully
          content:
            application/json:
              schema:
                required:
                  - data
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Balance'
        4XX:
          $ref: '#/components/responses/BalanceError4XX'
        5XX:
          $ref: '#/components/responses/BalanceError5XX'
      security:
        - Auth:
            - balances:read
            - api:read
  /v1/bills:
    post:
      operationId: createBillPurchase
      description: This creates a bill purchase
      summary: Create Bill Purchase
      security:
        - Auth:
            - bills:write
            - api:write
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      tags:
        - Bills
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillReq'
      responses:
        '200':
          $ref: '#/components/responses/BillResponses'
        4XX:
          $ref: '#/components/responses/BillsError4XX'
        5XX:
          $ref: '#/components/responses/BillsError5XX'
    get:
      operationId: listBillPurchases
      description: This lists bill purchases
      summary: List Bill Purchase
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
        - name: type
          in: query
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BillType'
      tags:
        - Bills
      responses:
        '200':
          $ref: '#/components/responses/BillListResponses'
        4XX:
          $ref: '#/components/responses/BillsError4XX'
        5XX:
          $ref: '#/components/responses/BillsError5XX'
      security:
        - Auth:
            - bills:read
            - api:read
  /v1/bills/{id}:
    get:
      operationId: getBillPurchase
      description: This fetches a bill purchase
      summary: Get Bill Purchase
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/PathParamNanoID'
      tags:
        - Bills
      responses:
        '200':
          $ref: '#/components/responses/BillResponses'
        4XX:
          $ref: '#/components/responses/BillsError4XX'
        5XX:
          $ref: '#/components/responses/BillsError5XX'
      security:
        - Auth:
            - bills:read
            - api:read
  /v1/bills/networks:
    get:
      summary: List Networks for Airtime & Data
      description: |
        This list the available networks for airtime and data
      tags:
        - Bills
      operationId: listNetworks
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/CountryQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/AirtimeDataNetworkResponses'
        4XX:
          $ref: '#/components/responses/BillsError4XX'
        5XX:
          $ref: '#/components/responses/BillsError5XX'
      security:
        - Auth:
            - bills:read
            - api:read
  /countries:
    get:
      summary: List supported countries for bills
      description: |
        Returns supported countries and the bill services available per country
      operationId: listBillCountries
      tags:
        - Bills
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          $ref: '#/components/responses/CountriesResponses'
        4XX:
          $ref: '#/components/responses/BillsError4XX'
        5XX:
          $ref: '#/components/responses/BillsError5XX'
      security:
        - Auth:
            - bills:read
            - api:read
  /v1/bills/networks/{code}/plans:
    get:
      summary: List Network Plans
      description: |
        This list the available plans for data
      tags:
        - Bills
      operationId: listNetworkPlans
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - name: code
          in: path
          required: true
          schema:
            type: string
            example: MTN
      responses:
        '200':
          $ref: '#/components/responses/ListNetworkPlanResponses'
        4XX:
          $ref: '#/components/responses/BillsError4XX'
        5XX:
          $ref: '#/components/responses/BillsError5XX'
      security:
        - Auth:
            - bills:read
            - api:read
  /v1/bills/bets/platforms:
    get:
      summary: List Bet Platforms
      tags:
        - Bills
      operationId: listBetPlatforms
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - name: country
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CountryID'
      responses:
        '200':
          $ref: '#/components/responses/BetPlatformsResp'
        4XX:
          $ref: '#/components/responses/BillsError4XX'
        5XX:
          $ref: '#/components/responses/BillsError5XX'
      security:
        - Auth:
            - bills:read
            - api:read
  /v1/currencies:
    get:
      security:
        - AuthOptional: []
      tags:
        - Currencies
      summary: Retrieve supported currencies
      description: |
        Retrieves a list of all supported currencies along with their basic details. This endpoint can be used to display available currencies in wallets or APIs requiring currency data.
      operationId: listCurrencies
      parameters:
        - $ref: '#/components/parameters/XBuPublicKey'
        - $ref: '#/components/parameters/CurrencyType'
        - $ref: '#/components/parameters/SortQueryParam'
        - name: payments_request
          in: query
          required: false
          schema:
            type: boolean
        - name: ramp
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: A list of supported currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesListResponse'
        4XX:
          $ref: '#/components/responses/CurrenciesError4XX'
        5XX:
          $ref: '#/components/responses/CurrenciesError5XX'
  /v1/currencies/{code}:
    get:
      security:
        - AuthOptional: []
      tags:
        - Currencies
      summary: Retrieve details of a specific currency
      description: |
        Fetches detailed information about a specific currency using its unique code. This includes details such as network support, decimal precision, and transaction limits.
      parameters:
        - $ref: '#/components/parameters/CurrencyCodePathParam'
        - $ref: '#/components/parameters/ProfileHeader'
      operationId: getCurrency
      responses:
        '200':
          description: Details of the requested currency.
          content:
            application/json:
              schema:
                required:
                  - data
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Currencies'
        4XX:
          $ref: '#/components/responses/CurrenciesError4XX'
        5XX:
          $ref: '#/components/responses/CurrenciesError5XX'
  /v1/customers:
    post:
      x-rate-limit: 20
      x-internal: false
      security:
        - Auth:
            - customers:write
            - api:write
      summary: Create a new customer
      description: Creates a new customer entry in the system. The required fields depend on the `type` of customer being created ('individual' or 'business').
      operationId: createCustomer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        description: Customer details needed to create a new customer.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            examples:
              individual_customer:
                summary: Individual Customer
                description: An example of a request payload to create an **individual** customer profile.
                value:
                  email: johninu@busha.co
                  has_accepted_terms: true
                  type: individual
                  country_id: NG
                  phone: '+2348012345678'
                  birth_date: 24-12-1990
                  first_name: John
                  last_name: Doe
                  address:
                    street: 123 Main Street
                    city: Lagos
                    state: Lagos
                    postal_code: '100211'
                    country: NG
              business_customer:
                summary: Business Customer
                description: An example of a request payload to create a **business** customer profile. Note the additional `business_*` fields.
                value:
                  email: johninu@busha.co
                  has_accepted_terms: true
                  type: business
                  country_id: NG
                  phone: '+2348098765432'
                  address:
                    street: 456 Corporate Avenue
                    city: Abuja
                    state: FCT
                    postal_code: '900288'
                    country: NG
                  business_name: ABC Corporation
                  business_industry: BIN_C4UvTYR5V8jsOx5LmwQ
                  business_incorporation_date: '2015-06-15'
      responses:
        '201':
          $ref: '#/components/responses/CustomerResponse'
        4XX:
          $ref: '#/components/responses/CustomerError4XX'
        5XX:
          $ref: '#/components/responses/CustomerError5XX'
    get:
      x-internal: false
      summary: List Customers
      description: List all customers in created for the business
      operationId: listCustomers
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/CustomerListResponse'
        4XX:
          $ref: '#/components/responses/CustomerError4XX'
        5XX:
          $ref: '#/components/responses/CustomerError5XX'
      security:
        - Auth:
            - customers:read
            - api:read
  /v1/customers/{id}:
    get:
      x-internal: false
      summary: Get a customer by ID
      description: Retrieve a specific customer by their unique ID
      operationId: getCustomerByID
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          $ref: '#/components/responses/CustomerResponse'
        4XX:
          $ref: '#/components/responses/CustomerError4XX'
        5XX:
          $ref: '#/components/responses/CustomerError5XX'
      security:
        - Auth:
            - customers:read
            - api:read
    put:
      x-rate-limit: 20
      x-internal: false
      security:
        - Auth:
            - customers:write
            - api:write
      summary: Update a customer
      description: Update the details of an existing customer
      operationId: updateCustomer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        description: Customer details to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          $ref: '#/components/responses/CustomerResponse'
        4XX:
          $ref: '#/components/responses/CustomerError4XX'
        5XX:
          $ref: '#/components/responses/CustomerError5XX'
  /v1/customers/{id}/verify:
    post:
      x-rate-limit: 20
      x-internal: false
      security:
        - Auth:
            - customers:write
            - api:write
      summary: Verify a customer
      description: Verify the identity and information provided by a customer
      operationId: verifyCustomer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          $ref: '#/components/responses/GeneralResponse'
        4XX:
          $ref: '#/components/responses/CustomerError4XX'
        5XX:
          $ref: '#/components/responses/CustomerError5XX'
  /v1/customers/industries:
    get:
      x-internal: false
      summary: List Business Industries
      description: List all business industries
      operationId: listIndustries
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      tags:
        - Customers
      responses:
        '200':
          $ref: '#/components/responses/CustomerBusinessIndustries'
        4XX:
          $ref: '#/components/responses/CustomerError4XX'
        5XX:
          $ref: '#/components/responses/CustomerError5XX'
      security:
        - Auth:
            - customers:read
            - api:read
  /v1/validate:
    post:
      x-rate-limit: 5
      tags:
        - Miscellaneous
      summary: Validate payment destination
      description: validates a payment destination is valid
      operationId: validatePaymentDestination
      requestBody:
        description: validate a payment destination
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateDestinationRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateDestinationResponse'
        4XX:
          $ref: '#/components/responses/MiscellaneousError4XX'
        5XX:
          $ref: '#/components/responses/MiscellaneousError5XX'
      security: []
  /v1/banks:
    get:
      x-rate-limit: 20
      tags:
        - Miscellaneous
      summary: List banks resource
      description: Returns a list of all banks and their bank codes
      operationId: listBanks
      parameters:
        - $ref: '#/components/parameters/CurrencyQueryParam'
        - $ref: '#/components/parameters/CountryQueryParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBankResponse'
        4XX:
          $ref: '#/components/responses/MiscellaneousError4XX'
        5XX:
          $ref: '#/components/responses/MiscellaneousError5XX'
      security: []
  /v1/countries:
    get:
      tags:
        - Miscellaneous
      summary: Returns a list of countries
      description: Returns a list of countries and their supported payment channels
      operationId: listCountries
      parameters:
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/CountryQueryParam'
        - $ref: '#/components/parameters/CurrencyQueryParam'
        - $ref: '#/components/parameters/ProfileHeader'
        - name: withdrawal
          in: query
          required: false
          description: Filter countries by withdrawal support
          schema:
            type: boolean
        - name: deposit
          in: query
          required: false
          description: Filter countries by deposit support
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesListResponse'
        4XX:
          $ref: '#/components/responses/MiscellaneousError4XX'
        5XX:
          $ref: '#/components/responses/MiscellaneousError5XX'
      security: []
  /v1/pay/{username}:
    get:
      x-rate-limit: 5
      security:
        - Auth: []
      tags:
        - Miscellaneous
      summary: Look up users addresses
      description: Returns a user's addresses based on currency and network
      operationId: lookupUserAddresses
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Username to lookup addresses for
          x-oapi-codegen-extra-tags:
            validate: min_len:3|max_len:50|ends_with:busha
            filter: trim|lower
        - name: currency
          in: query
          required: true
          description: Filter by currency
          x-oapi-codegen-extra-tags:
            validate: required|min_len:3|max_len:10
          schema:
            type: string
            example: USDT
        - name: networks
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Currency'
          description: Filter addresses by network
          style: form
          explode: false
          x-oapi-codegen-extra-tags:
            filter: slice_upper|slice_trim
        - name: auto_convert_to
          in: query
          required: false
          description: Currency to convert the deposit to
          schema:
            type: string
            example: NGN
          x-oapi-codegen-extra-tags:
            validate: min_len:3|max_len:10
            filter: upper|trim
      responses:
        '200':
          $ref: '#/components/responses/LookupResponses'
        4XX:
          $ref: '#/components/responses/MiscellaneousError4XX'
        5XX:
          $ref: '#/components/responses/MiscellaneousError5XX'
  /v1/pairs:
    get:
      tags:
        - Pairs
      security:
        - AuthOptional: []
      summary: List trading pairs
      description: Retrieves all available trading pairs with their current rates.
      operationId: listPairs
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - name: id
          in: query
          x-oapi-codegen-extra-tags:
            validate: min_len:6|max_len:20
            filter: trim|upper
          schema:
            type: string
        - name: type
          in: query
          description: |
            This filter pairs based on the type. fiat filter return pairs where the counter currency-type is a fiat crypto filter return pairs where the counter currency type is digital stablecoin filter return pairs where the base or counter currency is a stablecoin base_crypto filter return pairs where the base currency is digital base_fiat filter return pairs where the base currency is a fiat
          schema:
            type: string
            enum:
              - fiat
              - stablecoin
              - crypto
              - base_crypto
              - base_fiat
        - name: is_business
          in: query
          schema:
            type: boolean
        - name: base
          in: query
          x-oapi-codegen-extra-tags:
            validate: min_len:3|max_len:10
            filter: trim|upper
          schema:
            $ref: '#/components/schemas/Currency'
        - name: counter
          in: query
          x-oapi-codegen-extra-tags:
            validate: min_len:3|max_len:10
            filter: trim|upper
          schema:
            $ref: '#/components/schemas/Currency'
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - alphabetical
              - date_added
              - market_cap
              - current_price
              - price_change
              - most_bought
              - most_sold
        - name: price_change_direction
          in: query
          schema:
            type: string
            enum:
              - positive
              - negative
              - absolute
        - $ref: '#/components/parameters/SortQueryParam'
      responses:
        '200':
          description: List of trading pairs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairsListResponse'
        4XX:
          $ref: '#/components/responses/PairError4XX'
        5XX:
          $ref: '#/components/responses/PairError5XX'
  /v1/payments/links:
    post:
      tags:
        - PaymentLinks
      security:
        - Auth:
            - transfers:write
            - api:write
      summary: Create a payment link
      description: Create a payment link
      operationId: createPaymentLink
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkReq'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentLink'
        4XX:
          $ref: '#/components/responses/PaymentLinkError4XX'
        5XX:
          $ref: '#/components/responses/PaymentLinkError5XX'
    get:
      tags:
        - PaymentLinks
      security:
        - Auth:
            - api:get
            - transfers:get
      summary: List payment links
      description: List payment links
      operationId: listPaymentLink
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/CursorQueryParams'
        - name: q
          in: query
          required: false
          description: Search query for payment links
          schema:
            type: string
        - name: status
          in: query
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PaymentLinkStatus'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaymentLinkListResponse'
        4XX:
          $ref: '#/components/responses/PaymentLinkError4XX'
        5XX:
          $ref: '#/components/responses/PaymentLinkError5XX'
  /v1/payments/links/{id}:
    get:
      tags:
        - PaymentLinks
      security:
        - AuthOptional:
            - api:get
            - transfers:get
      summary: Retrieve a payment link
      description: Retrieve a payment link
      operationId: getPaymentLink
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentLink'
        4XX:
          $ref: '#/components/responses/PaymentLinkError4XX'
        5XX:
          $ref: '#/components/responses/PaymentLinkError5XX'
    patch:
      tags:
        - PaymentLinks
      security:
        - Auth:
            - transfers:write
            - api:write
      operationId: updatePaymentLink
      summary: Update a payment link
      description: Update a payment link
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentLinkReq'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentLink'
        4XX:
          $ref: '#/components/responses/PaymentLinkError4XX'
        5XX:
          $ref: '#/components/responses/PaymentLinkError5XX'
    delete:
      tags:
        - PaymentLinks
      security:
        - Auth:
            - transfers:write
            - api:write
      operationId: deletePaymentLink
      summary: Delete a payment link
      description: Delete a payment link
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentLink'
        4XX:
          $ref: '#/components/responses/PaymentLinkError4XX'
        5XX:
          $ref: '#/components/responses/PaymentLinkError5XX'
  /v1/payments/links/{id}/requests:
    get:
      tags:
        - PaymentLinks
      security:
        - Auth:
            - transfers:write
            - api:write
      operationId: listPaymentLinkRequests
      summary: List payment requests for payment link
      description: List payment requests for payment link
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/CursorQueryParams'
        - name: status
          in: query
          description: Filter by status
          required: false
          schema:
            $ref: '#/components/schemas/PaymentRequestStatus'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPagination'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PaymentRequest'
        4XX:
          $ref: '#/components/responses/PaymentRequestError4XX'
        5XX:
          $ref: '#/components/responses/PaymentRequestError4XX'
    post:
      tags:
        - PaymentLinks
      security:
        - AuthOptional:
            - transfers:write
            - api:write
      operationId: createPaymentLinkRequest
      summary: Create a payment request for payment link
      description: Create a payment request for payment link
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequestForLinkReq'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentRequest'
        4XX:
          $ref: '#/components/responses/PaymentRequestError4XX'
        5XX:
          $ref: '#/components/responses/PaymentRequestError4XX'
  /v1/payments/requests:
    post:
      tags:
        - PaymentRequests
      security:
        - AuthOptional:
            - transfers:write
            - api:write
      summary: Create a payment request
      description: Create a payment request
      operationId: createPaymentRequest
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/XBuPublicKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentRequest'
        4XX:
          $ref: '#/components/responses/PaymentRequestError4XX'
        5XX:
          $ref: '#/components/responses/PaymentRequestError5XX'
    get:
      tags:
        - PaymentRequests
      security:
        - Auth:
            - transfers:read
            - api:read
      summary: List payment requests
      description: List payment requests
      operationId: listPaymentRequests
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestListResponse'
        4XX:
          $ref: '#/components/responses/PaymentRequestError4XX'
        5XX:
          $ref: '#/components/responses/PaymentRequestError5XX'
  /v1/payments/requests/{id}:
    get:
      security:
        - AuthOptional:
            - transfers:read
            - api:read
      tags:
        - PaymentRequests
      summary: Retrieve a payment request
      description: Retrieve a payment request
      operationId: getPaymentRequest
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/XBuPublicKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestResponse'
        4XX:
          $ref: '#/components/responses/PaymentRequestError4XX'
        5XX:
          $ref: '#/components/responses/PaymentRequestError5XX'
  /v1/quotes:
    post:
      x-rate-limit: 20
      security:
        - Auth:
            - quotes:write
            - api:write
      summary: Create a new Quote
      description: Create Quote
      operationId: createQuote
      tags:
        - Quotes
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/XBuPublicKey'
      requestBody:
        description: Create a new Quote
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteRequest'
      responses:
        '201':
          $ref: '#/components/responses/QuoteResponse'
        4XX:
          $ref: '#/components/responses/QuoteError4XX'
        5XX:
          $ref: '#/components/responses/QuoteError5XX'
    get:
      summary: List Quotes
      description: List Quotes
      operationId: listQuotes
      tags:
        - Quotes
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/QuotesListResponse'
        4XX:
          $ref: '#/components/responses/QuoteError4XX'
        5XX:
          $ref: '#/components/responses/QuoteError5XX'
      security:
        - Auth:
            - quotes:read
            - api:read
  /v1/quotes/{id}:
    get:
      summary: Get Quote
      description: Returns a single quote by it's unique ID
      operationId: getQuote
      tags:
        - Quotes
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          $ref: '#/components/responses/QuoteResponse'
        4XX:
          $ref: '#/components/responses/QuoteError4XX'
        5XX:
          $ref: '#/components/responses/QuoteError5XX'
      security:
        - Auth:
            - quotes:read
            - api:read
  /v1/quotes/unauthenticated:
    post:
      x-rate-limit: 20
      security: []
      summary: Create Unauthenticated Quotes
      description: Create Unauthenticated Quote
      operationId: unauthenticatedCreateQuote
      tags:
        - Quotes
      requestBody:
        description: Create a unauthenticated Quote
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnauthenticatedCreateQuote'
      responses:
        '201':
          $ref: '#/components/responses/QuoteResponse'
        4XX:
          $ref: '#/components/responses/QuoteError4XX'
        5XX:
          $ref: '#/components/responses/QuoteError5XX'
  /v1/quote/payment_options:
    get:
      summary: List Payment Options
      description: List Fiat Payment Options
      operationId: listPaymentOptions
      tags:
        - Quotes
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - name: currency
          in: query
          required: false
          description: The currency to get payment options for.
          schema:
            type: string
            example: USD
        - name: support_conversion
          in: query
          required: false
          description: This shows if the payment options is supported for conversions
          schema:
            type: boolean
        - name: type
          in: query
          required: false
          description: The type of payment options to retrieve.
          schema:
            type: string
            example: withdraw
            enum:
              - withdraw
              - deposit
        - name: amount
          in: query
          required: false
          description: The amount to get payment options for.
          schema:
            type: number
            example: 1500
      responses:
        '200':
          $ref: '#/components/responses/PaymentOptionsListResponse'
        4XX:
          $ref: '#/components/responses/QuoteError4XX'
        5XX:
          $ref: '#/components/responses/QuoteError5XX'
      security:
        - Auth:
            - quotes:read
            - api:read
  /v1/recipients:
    post:
      x-rate-limit: 20
      security:
        - Auth:
            - recipients:write
            - api:write
      tags:
        - Recipients
      operationId: createRecipient
      summary: Create a recipient
      description: Create a new recipient for transfers.
      parameters:
        - $ref: '#/components/parameters/X-BU-Version'
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecipientRequest'
            examples:
              legacy_response:
                summary: Recipient creation - Legacy
                value:
                  currency_id: NGN
                  country_id: NG
                  type: ngn_bank_transfer
                  legal_entity_type: business
                  fields:
                    - name: bank_name
                      value: Access Bank Nigeria
                    - name: account_number
                      value: '1234567890'
                    - name: bank_code
                      value: '000014'
                    - name: account_name
                      value: John Doe
              ngn:
                summary: Recipient creation NGN (2025-07-11)
                value:
                  currency: NGN
                  country_code: NG
                  type: ngn_bank
                  bank_name: UNITED BANK FOR AFRICA
                  bank_code: '000004'
                  account_number: '2134211381'
                  account_name: John Doe
              usd_ach:
                summary: Recipient creation USD - ACH (2025-07-11)
                value:
                  type: usd_bank
                  entity_type: personal
                  transfer_type: ach
                  account_name: Jane Smith
                  bank_name: Chase Bank
                  routing_number: '021000021'
                  account_number: '9876543210'
              usd_wire:
                summary: Recipient creation USD - Wire (2025-07-11)
                value:
                  type: usd_bank
                  entity_type: business
                  transfer_type: wire
                  account_name: Tech Corp LLC
                  bank_name: Bank of America
                  routing_number: '026009593'
                  account_number: '1122334455'
              usd_swift:
                summary: Recipient creation USD - SWIFT (2025-07-11)
                value:
                  type: usd_bank
                  entity_type: business
                  transfer_type: swift
                  account_name: Global Corp Ltd
                  iban: GB29NWBK60161331926819
                  swift_code: CHASUS33XXX
                  bank_name: Bank of International Transfers
                  recipient_address: 123 Hauptstrasse, Berlin, 10115, Germany
                  intermediary_bank_name: Intermediary Global Bank
                  intermediary_bank_address: 456 Avenue of Banks, Zurich
                  intermediary_swift_code: CHASUS33XXX
              kes:
                summary: Recipient creation MPESA MOBILE MONEY (2025-07-11)
                value:
                  currency: KES
                  country_code: KE
                  type: mpesa_mobile_money
                  phone_number: +254 712345678
                  account_name: Samuel Kiprotich
              kes_business_mobile_money:
                summary: Recipient creation BUSINESS MOBILE MONEY (2025-07-11)
                value:
                  currency: KES
                  country_code: KE
                  type: business_mobile_money
                  channel: pay_bill/till
                  phone_number: +254 712345678
                  account_name: Samuel Kiprotich
              crypto_btc:
                summary: Recipient creation BTC (2025-07-11)
                value:
                  type: crypto
                  address_label: My Bitcoin Wallet
                  network: BTC
                  address: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
              crypto_usdt_on_eth:
                summary: Recipient creation USDT ON ETH NETWORK (2025-07-11)
                value:
                  type: crypto
                  address_label: My Ethereum Wallet
                  network: ETH
                  address: '0x742d35Cc6543C4532f5D2b8d9a2b2A1234567890'
              crypto_stellar_lumens_with_memo:
                summary: Recipient creation STELLAR LUMENS (2025-07-11)
                value:
                  type: crypto
                  address_label: My Stellar Wallet
                  network: XLM
                  address: GAHK7EEG2WWHVKDNT4CEQFZGKF2LGDSW2IVM4S5DP42RBW3K6BTODB4A
                  memo: '123456789'
      responses:
        '201':
          description: Recipient created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
              examples:
                legacy_response:
                  summary: Recipient response - Legacy
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      object: recipient
                      id: 8014c2ee-c70f-4c72-8d9f-c8b9d708a688
                      user_id: b8277d1c-1bde-46ef-92ce-ebb4752eede5
                      profile_id: b8277d1c-1bde-46ef-92ce-ebb4752eede5
                      currency_id: NGN
                      country_id: NG
                      type: ngn_bank_transfer
                      legal_entity_type: business
                      owned_by_customer: true
                      active: true
                      created_at: '2024-05-16T13:06:31.409336+01:00'
                      updated_at: '2024-05-16T13:06:31.409336+01:00'
                      fields:
                        - value: Access Bank Nigeria
                          display_name: Bank Name
                          name: bank_name
                          is_copyable: false
                          is_visible: true
                          required: true
                        - value: '0013246052'
                          display_name: Account Number
                          name: account_number
                          is_copyable: false
                          is_visible: true
                          required: true
                ngn:
                  summary: Recipient response NGN (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 687560e1255ff9424db5e4c5
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      account_name: INU JOHN
                      account_number: '2134211381'
                      active: true
                      bank_code: '000004'
                      bank_name: 9 PAYMENT SOLUTIONS BANK
                      category: bank
                      country_code: NG
                      currency: NGN
                      object: recipients
                      owned_by_customer: true
                      type: ngn_bank
                usd_ach:
                  summary: Recipient response USD - ACH (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 687564c9255ff9424db5e4c6
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      account_name: Jane Smith
                      account_number: '9876543210'
                      active: true
                      bank_name: Chase Bank
                      category: bank
                      entity_type: personal
                      object: recipients
                      owned_by_customer: true
                      routing_number: '021000021'
                      transfer_type: ach
                      type: usd_bank
                usd_wire:
                  summary: Recipient response USD - WIRE (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 687564c9255ff9424db5e4c7
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      account_name: Tech Corp LLC
                      account_number: '1122334455'
                      active: true
                      bank_name: Bank of America
                      category: bank
                      entity_type: business
                      object: recipients
                      owned_by_customer: true
                      routing_number: '026009593'
                      transfer_type: wire
                      type: usd_bank
                usd_swift:
                  summary: Recipient response USD - SWIFT (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 68756991255ff9424db5e4e0
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      account_name: Global Corp Ltd
                      active: true
                      bank_name: Bank of International Transfers
                      category: bank
                      entity_type: business
                      iban: GB29NWBK60161331926819
                      intermediary_bank_address: 456 Avenue of Banks, Zurich
                      intermediary_bank_name: Intermediary Global Bank
                      intermediary_swift_code: CHASUS33XXX
                      object: recipients
                      owned_by_customer: true
                      recipient_address: 123 Hauptstrasse, Berlin, 10115, Germany
                      swift_code: CHASUS33XXX
                      transfer_type: swift
                      type: usd_bank
                kes:
                  summary: Recipient response MPESA MOBILE MONEY (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 68756bbc255ff9424db5e4e2
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      account_name: Samuel Kiprotich
                      active: true
                      category: mpesa_mobile_money
                      country_code: KE
                      currency: KES
                      object: recipients
                      owned_by_customer: true
                      phone_number: +254 712345678
                      type: mpesa_mobile_money
                crypto_btc:
                  summary: Recipient response BTC (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 68756cd6255ff9424db5e4e3
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      active: true
                      address: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      address_label: My Bitcoin Wallet
                      category: crypto
                      network: BTC
                      object: recipients
                      owned_by_customer: true
                      type: crypto
                crypto_usdt_on_eth:
                  summary: Recipient response USDT ON ETH NETWORK (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 68756df6255ff9424db5e4e5
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      active: true
                      address: '0x742d35Cc6543C4532f5D2b8d9a2b2A1234567890'
                      address_label: My Ethereum Wallet
                      category: crypto
                      network: ETH
                      object: recipients
                      owned_by_customer: true
                      type: crypto
                crypto_stellar_lumens_with_memo:
                  summary: Recipient response STELLAR LUMENS (2025-07-11)
                  value:
                    status: success
                    message: Recipient created successfully
                    data:
                      id: 68756eb4255ff9424db5e4e7
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      active: true
                      address: GAHK7EEG2WWHVKDNT4CEQFZGKF2LGDSW2IVM4S5DP42RBW3K6BTODB4A
                      address_label: My Stellar Wallet
                      category: crypto
                      memo: '123456789'
                      network: XLM
                      object: recipients
                      owned_by_customer: true
                      type: crypto
        4XX:
          $ref: '#/components/responses/RecipientError4XX'
        5XX:
          $ref: '#/components/responses/RecipientError5XX'
    get:
      tags:
        - Recipients
      operationId: listRecipients
      summary: List recipients
      description: Retrieve a list of all recipients
      parameters:
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/CurrencyQueryParam'
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/CountryQueryParam'
        - $ref: '#/components/parameters/X-BU-Version'
        - $ref: '#/components/parameters/ProfileHeader'
        - name: network
          in: query
          description: Filter by recipient network
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
        - name: category
          in: query
          description: Filter by recipient category
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: Filter recipient by the type
          required: false
          schema:
            type: array
            items:
              type: string
              x-oapi-codegen-extra-tags:
                validate: nanoid
          style: form
          explode: false
      responses:
        '200':
          description: Recipients retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientListResponse'
              examples:
                legacy_response:
                  summary: Recipient list response - Legacy
                  value:
                    status: success
                    message: Recipients retrieved successfully
                    data:
                      - object: recipient
                        id: 8014c2ee-c70f-4c72-8d9f-c8b9d708a688
                        user_id: b8277d1c-1bde-46ef-92ce-ebb4752eede5
                        profile_id: b8277d1c-1bde-46ef-92ce-ebb4752eede5
                        currency_id: NGN
                        country_id: NG
                        type: ngn_bank_transfer
                        legal_entity_type: business
                        owned_by_customer: true
                        active: true
                        created_at: '2024-05-16T13:06:31.409336+01:00'
                        updated_at: '2024-05-16T13:06:31.409336+01:00'
                        fields:
                          - value: Access Bank Nigeria
                            display_name: Bank Name
                            name: bank_name
                            is_copyable: false
                            is_visible: true
                            required: true
                          - value: '0013246052'
                            display_name: Account Number
                            name: account_number
                            is_copyable: false
                            is_visible: true
                            required: true
                response_2025_07_11:
                  summary: Recipient list response (2025-07-11)
                  value:
                    status: success
                    message: Recipients retrieved successfully
                    pagination:
                      next_cursor: MjAyNC0xMC0xNVQxMTowNTo1My45NTkxNDErMDE6MDA=
                      current_entries_size: 20
                      previous_cursor: MjAyNC0xMC0xNVQxMTowNTo1My45NTkxNDErMDE6MDA=
                    data:
                      - id: 68756eb4255ff9424db5e4e7
                        profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                        active: true
                        address: GAHK7EEG2WWHVKDNT4CEQFZGKF2LGDSW2IVM4S5DP42RBW3K6BTODB4A
                        category: crypto
                        memo: '123456789'
                        network: XLM
                        object: recipients
                        owned_by_customer: true
                        type: crypto
                      - id: 68756bbc255ff9424db5e4e2
                        profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                        account_name: Samuel Kiprotich
                        active: true
                        category: mpesa_mobile_money
                        country_code: KE
                        currency: KES
                        object: recipients
                        owned_by_customer: true
                        phone_number: +254 712345678
                        type: mpesa_mobile_money
                      - id: 68756991255ff9424db5e4e0
                        profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                        account_name: Global Corp Ltd
                        active: true
                        bank_name: Bank of International Transfers
                        category: bank
                        entity_type: business
                        iban: GB29NWBK60161331926819
                        intermediary_bank_address: 456 Avenue of Banks, Zurich
                        intermediary_bank_name: Intermediary Global Bank
                        intermediary_swift_code: CHASUS33XXX
                        object: recipients
                        owned_by_customer: true
                        recipient_address: 123 Hauptstrasse, Berlin, 10115, Germany
                        swift_code: CHASUS33XXX
                        transfer_type: swift
                        type: usd_bank
                      - id: 687564c9255ff9424db5e4c6
                        profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                        account_name: Jane Smith
                        account_number: '9876543210'
                        active: true
                        bank_name: Chase Bank
                        category: bank
                        entity_type: personal
                        object: recipients
                        owned_by_customer: true
                        routing_number: '021000021'
                        transfer_type: ach
                        type: usd_bank
                      - id: 687560e1255ff9424db5e4c5
                        profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                        account_name: INU JOHN OSHIOGIEMHE
                        account_number: '2134211381'
                        active: true
                        bank_code: '000004'
                        bank_name: 9 PAYMENT SOLUTIONS BANK
                        category: bank
                        country_code: NG
                        currency: NGN
                        object: recipients
                        owned_by_customer: true
                        type: ngn_bank
        4XX:
          $ref: '#/components/responses/RecipientError4XX'
        5XX:
          $ref: '#/components/responses/RecipientError5XX'
      security:
        - Auth:
            - recipients:read
            - api:read
  /v1/recipients/{id}:
    get:
      tags:
        - Recipients
      summary: Retrieve a recipient
      description: Get details of a specific recipient
      operationId: getRecipient
      parameters:
        - $ref: '#/components/parameters/PathParamUUID'
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/X-BU-Version'
      responses:
        '200':
          description: Recipient retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
              examples:
                legacy_response:
                  summary: Recipient response - Legacy
                  value:
                    status: success
                    message: Recipient retrieved successfully
                    data:
                      object: recipient
                      id: 8014c2ee-c70f-4c72-8d9f-c8b9d708a688
                      user_id: b8277d1c-1bde-46ef-92ce-ebb4752eede5
                      profile_id: b8277d1c-1bde-46ef-92ce-ebb4752eede5
                      currency_id: NGN
                      country_id: NG
                      type: ngn_bank
                      legal_entity_type: personal
                      owned_by_customer: true
                      active: true
                      created_at: '2024-05-16T13:06:31.409336+01:00'
                      updated_at: '2024-05-16T13:06:31.409336+01:00'
                      fields:
                        - value: Access Bank Nigeria
                          display_name: Bank Name
                          name: bank_name
                          is_copyable: false
                          is_visible: true
                          required: true
                        - value: '0013246052'
                          display_name: Account Number
                          name: account_number
                          is_copyable: false
                          is_visible: true
                          required: true
                response_2025_07_11:
                  summary: Recipient response (2025-07-11)
                  value:
                    status: success
                    message: Recipient retrieved successfully
                    data:
                      id: 687560e1255ff9424db5e4c5
                      profile_id: aa909417-099c-429a-9d74-89e9b5e8891c
                      account_name: INU JOHN OSHIOGIEMHE
                      account_number: '2134211381'
                      active: true
                      bank_code: '000004'
                      bank_name: 9 PAYMENT SOLUTIONS BANK
                      category: bank
                      country_code: NG
                      currency: NGN
                      object: recipients
                      owned_by_customer: true
                      type: ngn_bank
        4XX:
          $ref: '#/components/responses/RecipientError4XX'
        5XX:
          $ref: '#/components/responses/RecipientError5XX'
      security:
        - Auth:
            - recipients:read
            - api:read
    delete:
      tags:
        - Recipients
      summary: Delete a recipient
      description: Delete a specific recipient
      operationId: deleteRecipient
      parameters:
        - $ref: '#/components/parameters/PathParamUUID'
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/X-BU-Version'
      responses:
        '204':
          description: Recipient deleted successfully
        4XX:
          $ref: '#/components/responses/RecipientError4XX'
        5XX:
          $ref: '#/components/responses/RecipientError5XX'
      security:
        - Auth:
            - recipients:read
            - api:read
  /v1/recipients/resolve-bank-account:
    post:
      security:
        - Auth:
            - recipients:write
            - api:write
      tags:
        - Recipients
      operationId: resolveBankAccount
      x-rate-limit: 5
      summary: Resolves a bank account
      description: Resolves a bank account for bank transfers
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveBankAccountRequest'
      responses:
        '201':
          description: Recipient created successfully
          content:
            application/json:
              schema:
                required:
                  - data
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ResolveBankAccountResp'
        4XX:
          $ref: '#/components/responses/RecipientError4XX'
        5XX:
          $ref: '#/components/responses/RecipientError5XX'
  /v1/transactions:
    get:
      tags:
        - Transactions
      description: Returns a list of transactions
      operationId: listTransactions
      summary: List transactions
      parameters:
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/CurrencyQueryParam'
        - name: is_fiat
          in: query
          description: Filter by fiat currencies
          required: false
          schema:
            type: boolean
        - name: is_credit
          in: query
          description: Filter by transactions that are credit
          required: false
          schema:
            type: boolean
        - name: type
          in: query
          description: Filter transactions by type
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TransactionTypes'
          style: form
          explode: false
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsListResponse'
        4XX:
          $ref: '#/components/responses/TransactionsError4XX'
        5XX:
          $ref: '#/components/responses/TransactionsError5XX'
      security:
        - Auth:
            - transactions:read
            - api:read
  /v1/transactions/{id}:
    get:
      tags:
        - Transactions
      description: Retrieves a transactions
      operationId: getTransaction
      summary: Get transaction
      parameters:
        - $ref: '#/components/parameters/PathParamUUID'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                required:
                  - data
                allOf:
                  - $ref: '#/components/schemas/BaseSchema'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'
        4XX:
          $ref: '#/components/responses/TransactionsError4XX'
        5XX:
          $ref: '#/components/responses/TransactionsError5XX'
      security:
        - Auth:
            - transactions:read
            - api:read
  /v1/transfers:
    post:
      x-rate-limit: 20
      security:
        - Auth:
            - transfers:write
            - api:write
      summary: Create transfer
      description: Create a transfer object
      operationId: createTransfer
      tags:
        - Transfers
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        description: Transfer Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferRequest'
      responses:
        '201':
          $ref: '#/components/responses/TransferResponse'
        4XX:
          $ref: '#/components/responses/TransferError4XX'
        5XX:
          $ref: '#/components/responses/TransferError5XX'
    get:
      summary: List transfers
      description: Gets all transfers
      operationId: listTransfer
      tags:
        - Transfers
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - name: start_date
          in: query
          description: Filter by start date
          required: false
          schema:
            type: string
            format: date
          example: '2022-01-01'
        - name: end_date
          in: query
          description: Filter by end date
          required: false
          schema:
            type: string
            format: date
          example: '2022-01-01'
        - name: source_currency
          in: query
          description: Filter by source_currency code
          required: false
          x-oapi-codegen-extra-tags:
            validate: min_len:3|max_len:10
            filter: trim|upper
          schema:
            type: string
        - name: target_currency
          in: query
          description: Filter by target_currency code
          required: false
          x-oapi-codegen-extra-tags:
            validate: min_len:3|max_len:10
            filter: trim|upper
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          required: false
          schema:
            type: string
        - name: referred
          in: query
          description: Specify whether to get referred transfers or not
          required: false
          schema:
            type: boolean
        - name: includes_step
          in: query
          description: Filter transfers that include a specific step in their flow.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - deposit
                - withdrawal
                - conversion
                - no_deposit
                - no_withdrawal
                - no_conversion
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/TransferListResponse'
        4XX:
          $ref: '#/components/responses/TransferError4XX'
        5XX:
          $ref: '#/components/responses/TransferError5XX'
      security:
        - Auth:
            - transfers:read
            - api:read
  /v1/transfers/{id}:
    get:
      summary: Get transfer
      description: Retrieves a transfer
      operationId: getTransfer
      tags:
        - Transfers
      parameters:
        - $ref: '#/components/parameters/PathParamNanoID'
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          $ref: '#/components/responses/TransferResponse'
        4XX:
          $ref: '#/components/responses/TransferError4XX'
        5XX:
          $ref: '#/components/responses/TransferError5XX'
      security:
        - Auth:
            - transfers:read
            - api:read
  /v1/vouchers:
    post:
      x-rate-limit: 20
      x-internal: false
      security:
        - Auth:
            - vouchers:write
            - api:write
      operationId: createVoucherPurchase
      description: This creates a voucher purchase
      summary: Create Voucher Purchase
      tags:
        - Vouchers
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVoucherReq'
      responses:
        '201':
          $ref: '#/components/responses/VoucherResponse'
        4XX:
          $ref: '#/components/responses/VoucherError4XX'
        5XX:
          $ref: '#/components/responses/VoucherError5XX'
    get:
      x-internal: false
      summary: List voucher purchases
      description: |
        Fetch all voucher purchases made by the user.
        Optionally filter by `active` or `status`.
      operationId: listVoucherPurchases
      tags:
        - Vouchers
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/CursorQueryParams'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
        - name: active
          in: query
          required: false
          schema:
            type: boolean
          description: Filter vouchers by active state.
          example: true
        - name: status
          in: query
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
          description: Filter vouchers by status (can accept multiple values).
          example:
            - used
            - pending
      responses:
        '200':
          $ref: '#/components/responses/VoucherListResponse'
        4XX:
          $ref: '#/components/responses/VoucherError4XX'
        5XX:
          $ref: '#/components/responses/VoucherError5XX'
      security:
        - Auth:
            - vouchers:read
            - api:read
  /v1/vouchers/{id}:
    get:
      operationId: getVoucherPurchase
      description: This fetches a voucher purchase by ID
      summary: Get Voucher Purchase
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
        - $ref: '#/components/parameters/PathParamNanoID'
      tags:
        - Vouchers
      responses:
        '200':
          $ref: '#/components/responses/VoucherResponse'
        4XX:
          $ref: '#/components/responses/VoucherError4XX'
        5XX:
          $ref: '#/components/responses/VoucherError5XX'
      security:
        - Auth:
            - vouchers:read
            - api:read
  /v1/vouchers/merchants:
    get:
      summary: List voucher merchants
      description: Fetches all merchants offering vouchers. Supports filtering by featured status and country code.
      operationId: listVoucherMerchants
      tags:
        - Vouchers
      parameters:
        - name: featured
          in: query
          required: false
          description: Filter merchants that are featured
          schema:
            type: boolean
        - name: country
          in: query
          required: true
          description: The ISO country code (e.g. NG, US, GH)
          schema:
            $ref: '#/components/schemas/CountryID'
      responses:
        '200':
          $ref: '#/components/responses/VoucherMerchantListResponse'
        4XX:
          $ref: '#/components/responses/VoucherError4XX'
        5XX:
          $ref: '#/components/responses/VoucherError5XX'
      security:
        - Auth:
            - vouchers:read
            - api:read
  /v1/vouchers/merchants/{id}:
    get:
      summary: Get a merchant by ID
      description: Fetch detailed information about a specific voucher merchant.
      operationId: getVoucherMerchant
      tags:
        - Vouchers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID of the merchant to retrieve.
          example: 0d3e7a09-6fee-4f98-891f-7c1e0fb761c7
      responses:
        '200':
          $ref: '#/components/responses/VoucherMerchantResponse'
        4XX:
          $ref: '#/components/responses/VoucherError4XX'
        5XX:
          $ref: '#/components/responses/VoucherError5XX'
      security:
        - Auth:
            - vouchers:read
            - api:read
  /v1/vouchers/countries:
    get:
      summary: List Supported Voucher Countries
      description: |
        This returns all countries where voucher purchases are supported.
      tags:
        - Vouchers
      operationId: listVoucherCountries
      parameters:
        - $ref: '#/components/parameters/ProfileHeader'
      responses:
        '200':
          $ref: '#/components/responses/VoucherCountryResponse'
        4XX:
          $ref: '#/components/responses/VoucherError4XX'
        5XX:
          $ref: '#/components/responses/VoucherError5XX'
      security:
        - Auth:
            - vouchers:read
            - api:read
components: {}
